---
const { title, favicon, metaDesc } = Astro.props;
---
<head>
    <meta charset="UTF-8" />
    <meta name="description" content={metaDesc} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={metaDesc} />
    <meta name="author" content="Koma & Moka">
    <meta name="keywords" content="Creative designer, creative developer">
    
    <link rel="icon" type="image/svg+xml" href={favicon.url} />
    <title>{title}</title>
</head>