@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.home {
    &-work {
        position: relative;

        .container {

        }

        &-sticky {
            position: sticky;
            top: 0;
            left: 0;
            @include size(100%, 100svh);
            background-color: aqua;

            display: flex;
            contain: paint;

            @include md {
                position: unset;
                @include size(unset);

            }
            
            &-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                background-color: red;
            }
        }

        &-translate {
            flex-shrink: 0;
            display: flex;

            @include md {
                flex-direction: column;
            }
        }

        &-item {
            contain: paint;
            @include size(100svw, 100svh);
            flex-shrink: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            @include md {
                display: grid;
                grid-template-rows: 1fr;
            }

            &-thumb {
                position: absolute;
                z-index: -1;
                @include size(120%, 100%);

                @include md {
                    @include size(100%, 120%);
                }
            }

            &-scope {
                display: none;

                @include md {
                    display: unset;

                    @include text(16);
                    grid-column: 1/-1;
                    align-self: end;

                    display: flex;
                    flex-direction: column;
                    row-gap: 1.6rem;

                    margin-bottom: 5.6rem;
                }
            }

            &-name {
                display: none;

                @include md {
                    display: unset;

                    grid-column: 1/-1;
                    align-self: end;
                    margin-bottom: 4rem;

                    @include text(120);

                    color: $cl-bg;
                    mix-blend-mode: difference;
                }

                @include sm {
                    @include text(80);
                }
            }
        }

        &-info {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%, 100svh);

            display: grid;
            color: $cl-bg;
            mix-blend-mode: difference;

            @include md {
                display: none;
            }


            &-item {
                color: inherit;
                grid-column: 1/-1;
                grid-row: 1/-1;
                @include size(100%, 100%);
                
                grid-template-rows: 1fr;
                align-items: end;

                --offset-left: 100%;
                --offset-right: 0%;
                clip-path: inset(0% var(--offset-right) 0% var(--offset-left));


                // background-color: aqua;

                // opacity: 0.2;

                // @for $i from 1 through 5 {
                //     &:nth-child(#{$i}) {
                //         filter: hue-rotate($i * 30deg);
                //     }
                // }

                &-title {
                    grid-column: 1/-1;
                    margin-block: 2.4rem 6rem;
                }
                &-scope {
                    grid-column: 5/10;
                    display: flex;
                    flex-direction: column;
                    row-gap: 1.6rem;
                }
            }
        }

        &-spacer {
            grid-column: 1/-1;
            opacity: 0;
            pointer-events: none;
            user-select: none;


            &-inner {
                height: 100svh;
                background-color: teal;

                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        filter: hue-rotate($i * 30deg);
                    }
                }
            }
        }
    }
}