---
import "@styles/global.scss";

import BaseHead from "@/globals/BaseHead.astro";
import Cursor from "@/globals/Cursor/Cursor.astro";
import Header from "@/globals/Header/Header.astro";
import Footer from "@/globals/Footer/Footer.astro";
import NoisePattern from "@/globals/NoisePattern/NoisePattern.astro";
import FluidDistortion from "@/globals/FluidDistortion/FluidDistortion.astro";

import MainScript from "@/js/main";
import TestForm from "@/globals/TestForm/TestForm.astro";
const { title, data_page, isNeedFooter, isNeedInfiniteScroll } = Astro.props;
---

<!doctype html>

<html lang="en" data-page={data_page ? data_page : ""}>
	<BaseHead title={title} />
	<main class="main on-load">
		<!-- <FluidDistortion/> -->
		<Header/>
		<NoisePattern/>
		<Cursor/>
		<slot />
		{isNeedFooter && <Footer/>}
		<TestForm/>
	</main>
	<MainScript isInfiniteScroll={isNeedInfiniteScroll} client:load/>
</html>