---
import "@styles/global.scss";
import { ViewTransitions } from 'astro:transitions';
import  SpeedInsights  from "@vercel/speed-insights/astro"

import BaseHead from "@/globals/BaseHead.astro";
import Cursor from "@/globals/Cursor/Cursor.astro";
import Header from "@/globals/Header/Header.astro";
import Footer from "@/globals/Footer/Footer.astro";
import NoisePattern from "@/globals/NoisePattern/NoisePattern.astro";
import TestForm from "@/globals/TestForm/TestForm.astro";
const { title, metaDesc } = Astro.props;

import { getPage } from "@/components/core/prismic";

const { data } = await getPage("global_info");
---

<!DOCTYPE html>

<html>
	<!-- <ViewTransitions/> -->
	<BaseHead title={title} favicon={data.favicon} metaDesc={metaDesc}/>
	<main class="main on-load">
		<!-- <FluidDistortion /> -->
		<Header />
		<NoisePattern />
		<Cursor />
		<slot />
		<Footer />
		<!-- <TestForm /> -->
	</main>
	<script>
		import gsap from "gsap";
		import ScrollTrigger from "gsap/ScrollTrigger";
		import { initMouse } from "@/components/core/mouse";
		import { resetLenis } from "@/components/core/lenis";

        document.querySelector(".main").classList.remove("on-load");

		window.gsap = gsap;
		window.ScrollTrigger = ScrollTrigger;

		gsap.registerPlugin(ScrollTrigger);
		gsap.defaults({
			ease: "none",
			duration: 1,
		});
		ScrollTrigger.getAll().forEach(triggers => {
            triggers.update()
            triggers.refresh()
        })
		resetLenis()
		initMouse()
	</script>
	<SpeedInsights/>

	<script async defer src="https://static.cdn.prismic.io/prismic.js?new=true&repo=wethebrand"></script>
</html>